.showfacility {
    display: flex;
    flex-direction: column;
    border: 0.1rem dashed grey;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    flex: 3;
    min-height: 13rem;
}

.radiobutton {
    list-style-type: none;
}

.order {
    display: flex;
    flex-direction: column;
    border: 0.1rem dashed teal;
    margin: 2rem;
    padding: 2rem;
    flex: 1;
    align-content: space-around;
    position: relative;
}

.orderButton {
    position: absolute;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    width: 75%;
}

.sidebyside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerTitle {
    font-size: 2.5rem;
}


.cart {
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
}