@import "facility.css";
@import "topPart.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    
}


.github {
    width: 1rem;
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.firstline, .secondline {
    display: flex;
    flex-direction: row;
    margin-bottom: -1.3rem;
}

.secondline {
    margin-bottom: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}